Write your CSS here!

/* Elements */

html{
    height: 100%;
}

body {
color: #333;
margin: 8px;
padding: 0px;
overflow: hidden;
}

article::-webkit-scrollbar{
    display: none;
}

article{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    display: block;
    margin: 0px;
    padding: 0px;
}

section {
    height: 100%;
    scroll-snap-align: center;

}
h1{
    margin-bottom: 0;;
}

h2{
    padding: 0;
    margin: 0;
}

h3 {
    margin: 0px;
    font-family:Tahoma;
    text-align: center;
}

img {
    width: 1000;
    height: 600px;
}

footer{
    position:fixed;
    bottom:0;
    width:100%;
    text-align: center;
}

p{
    font-family: monospace;
    font-size: 15px;
    text-align: center;
    padding: 20px 30px;
    font-weight: bold;
}
/* Ids */

#me{
    background-color: #22577A;
    color: black;
}

#home {
    background-color: #ffd580;
}

#hotel{
    background-color: #C1E1C1;
}

#sim{
    background-color: lightblue;
}

#accen{
    background-color: thistle;
}

#penn{
    background-image: linear-gradient(to top, #abd5ff, #faf9f6, rgb(255, 137, 137));
}

#mainHeading{
    color: red;
    font-family: 'Courier New';
    background-color: #f8f7f2;
    padding: 20px;
}

#center{
    display: block;
    margin: auto;
    padding: 20px;
}

/* Classes */
 
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    top: 150px; 
}

.funParagraph{
    color: green;
}

.circular--square {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
